
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Calibri', sans-serif;

}

.nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px; 
}

#logo {
    width: 280px; 
    height: 100%;
    margin-right: -50px; 
    padding-left: 40px;
}

#navlink {
    margin-left: auto; 
}

.pagelink {
    margin-left: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border: none;
    background: none;
    cursor: pointer;
}

.pagelink:hover {
    color: gray;
}
.containerHeader1 {
    background-color: #125252;
    max-height: 90%;
    max-height: 900px;
    display: flex;
    justify-content: space-between; 
}

.headerlogodiv{
    padding: 10%;
}
.header1 {
    padding: 10%;   
    font-size: 20px;
}

#headerlogo {
    width: 300px; 
    height: auto; 
    display: block; 

}
