
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Calibri', sans-serif;

}

.nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px; 
}

#logo {
    width: 280px; 
    height: 100%;
    margin-right: -50px; 
    padding-left: 40px;
}

#navlink {
    margin-left: auto; 
}

.pagelink {
    margin-left: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border: none;
    background: none;
    cursor: pointer;
}

.pagelink:hover {
    color: gray;
}
.containerHeader1 {
    background-color: #125252;
    max-height: 90%;
    max-height: 900px;
    display: flex;
    justify-content: space-between; 
}


/* main */
.headerlogodiv{
    padding: 10%;
}
.header1 {
    padding: 10%;   
    font-size: 20px;
}
.header1 h1 {
    color: #ffffff;
    font-size: 50px;
}
.header1 p {
    color: #ffffff;
    font-size: 30px;
}

#headerlogo {
    width: 380px; 
    height: 300px; 
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 170px;
    margin-left: 100px;    
}


/* products we offer */
.products{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.products h1{
    font-size: 31px;
    font-weight: 600;
    text-align: left;
    margin-left: 10%;
}
.products p{
    font-size: 19px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
.products-col{
    flex-basis: 31%;
    background: #365e69;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.products h2{
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.products p{
    font-size: 30px;
    text-align: left;
    font-weight: 600;
    line-height: 40px;
    margin-top: 100px;
    width: 400px;
    word-wrap: break-word; 
}
.products-col img{
    width: 350px;
}
/* hover shadow */
.products-col:hover{
    box-shadow: 0 0 10px 0px rgba(0,0,0,5);
}
